If you would like to join my clan here is the website link below (You must have a Xbox 360, you must also have Halo: Reach).

WARNING!! This clan is for Halo gamers only so if you do not both the Xbox 360 and Halo: Reach then you can not join, sorry.
(Name of Clan: Undefeatable Dragons)

Link: http://undefeatabledragons.enjin.com/home

Also here are a list of Halo games that are either Required or Optional. The last list will be the games I have, if I do not have
one of the Halo games you have then it is not required nor optional:
<ol>
Required:
<li>Halo: Reach</li>
<li> Halo 4 (the clan rarely plays on Halo 4 together but it is still required)</li>
</ol>
<ol>
Optional:
<li>Halo 3</li>
<li>Halo Wars (sometimes my favorite)</li>
</ol>

P.S. I am the CEO of the Undefeatable Dragons, if you would like to talk to me or add me as a friend on Xbox Live (Xbox 360 only
no Xbox One) check the website and you will find my name in the Members Page, the name begins with a U____,
if you see [CL] next to my name ignore that, that just means I am the Covenant Leader.
